# --- Diagnostic Reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# --- Dependency Directories ---
node_modules/

# --- Optional Npm Cache Directory ---
.npm

# --- Optional Eslint Cache ---
.eslintcache

# --- Optional Stylelint Cache ---
.stylelintcache

# --- Dotenv Environment Variable Files ---
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# --- MacOS System Files ---
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.temp
.cache

# --- Security & Credentials ---
*.json
*.pem
*.p12
.env
.env.*
auth.py
secrets.py

# --- BigQuery / Dataform / IDEs ---
node_modules/
package-lock.json
.df-credentials.json
compiled/

# --- VS Code / JetBrains Metadata ---
.vscode/
.vscode-test
.idea/

# --- Documentation & Logs ---
*.log
logs
npm-debug.log*
.pnpm-debug.log*

# --- Exclude CSV/Excel Files ---
*.csv
*.xlsx

